.dockerignore
Dockerfile
README.md

wui/.dockerignore
wui/node_modules/*
wui/node_modules
wui/package-lock.json
wui/.git
wui/.gitignore
wui/README.md

go_app/.dockerignore
go_app/.git
go_app/.gitignore
go_app/README.md